main {
    width: 1000px;
    margin: 0 auto;
}

.row {
    clear: both;
    /*Чтобы ячейки одного рядка не наежджали на второй при разной высоте*/
}

.column {
    /* border: 1px solid #888; */
    padding: 0 15px;
    width: 33.333%;
    box-sizing: border-box;
    float: left;
    /* прокрутка*/
    /*overflow-y: scroll;*/
}

.tovar-block {
    background-color: beige;
    margin-bottom: 10px;
    padding: 4px 0 4px 4px;
    -webkit-box-shadow: 7px 6px 9px -2px rgba(115, 115, 103, 0.75);
    -moz-box-shadow: 7px 6px 9px -2px rgba(115, 115, 103, 0.75);
    box-shadow: 7px 6px 9px -2px rgba(115, 115, 103, 0.75);
    height: 135px;
    overflow: hidden;
}

.tovar-block h3 {
    margin: 0 0 7px 0;
}

.tovar-block p {
    margin-bottom: 0;
}

.foto {
    width: 97px;
    float: left;
    margin: 2px 5px 3px 2px;
    /*тень  https://www.cssmatic.com/box-shadow*/
    box-shadow: 0px 0px 3px 1px rgba(68, 38, 50, 0.45);
}

.price {
    font-style: italic;
}